{% extends '../base.html' %}

{% block title %}course detail{% endblock %}


{% block content %}

<div class="container pt-5 pb-5">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Courses</a></li>
        <li class="breadcrumb-item"><a href="#">Python</a></li>
        <li class="breadcrumb-item active" aria-current="page">Introduction</li>
      </ol>
  </nav>
  <h1 class="mb-5">Introduction </h1>
  <div class="card">
      <div class="card-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa natus, maxime dolorem quasi minima nihil deleniti, error non facilis nulla ducimus dignissimos at dolorum consectetur odio architecto quaerat eaque eos!</p>
      </div>
  </div>
</div>

{% endblock %}